* {
  padding:0;
  margin:0;
}


body, html{
    width: 100%;
    height: 100%;
}

header {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

h1, h2, h3{
    color: #05386B;
    padding:0;
    margin:0;
}


.hero-image {

    background-image: url("https://lh3.googleusercontent.com/uXXX0ZXP8iRN7Hm9nYOd6Drds6c8TBVbg23TRkqDegkXoU_angEMyupF12eSYSsalt9sjOrr3DjNgyanxwWZo0pueVqX5sBU68UZQp4aHyUYJ5OvMrqPRglqIimgmd03MADJYbSbJA=w2400");
    
    /* Set a specific height */
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Place text in the middle of the image */
.hero-text {
    color: white;
}

#text-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#text-wrapper2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#text-wrapper3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#navbar{
  background-color: #8EE4AF;
  background: solid;
  width: 100%;
}

.active {
    border-style: none none solid none;
    border-color: white;
}

#segment-wrapper{
    border-style: none none solid double;
}

#img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: : auto;
}

.center-content{
  position: relative;
  top: -50%;
}

#Career{
    background-color: #FFFFFF;
    min-height: 100%;
    margin: auto;
    padding: auto;
}

#CareerContent{
  margin-top: 5%;
  margin-bottom: 5%;
}

#About{
    
    background-image: url("https://lh3.googleusercontent.com/QnU8tF9LX2d06x0lGoHCOqv_mGk6jTL4-n64Ep6UpVdnGqYcZJ5qW2FqNd1hJ5bWR9Ny23LyQrnPmYA0VAGI6ryF7SAuNxrU77hoya9DFgwgUG_wtILGb5MqlmC3aJdjKC-Y4o1SlA=w2400");

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Skills{
    background-color: #EDF5EF;
    min-height: 100%;
    margin: auto;
    padding: auto;
}

#Contact{
   text-align: center;
   background-color: #379683;
    min-height: 100%;
    margin: auto;
    padding: auto;
}

#Intro{
    text-align: center;
    background-color: #8EE4AF;
}

.logo-link{
  margin-left: auto;
  margin-right: auto;
}

.info-segment{
    padding-top: 5%;
    padding-bottom: : 5%;
}

.row{
  margin: 0px;
}
.media{
  align-content: center;
}
.media:hover {
    opacity: 0.7;
}
