html{
    text-align: center;
}

header {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

h1 {
    color: #05386B;
    margin: 0;
}

h2{
    color: #05386B;
    margin: 0;
}

p{ margin:0; padding:0; box-sizing:border-box; }

#img1 {
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: : auto;
}

#Career{
    display: block;
    background-color: #EDF5E1;
}

#About{
    display: block;
    background-color: #EDF5EF;
}

#Skills{
    display: block;
    background-color: #EDF5EF;
}

#Contact{
    display: block;
   background-color: #8EE4AF;
}

#Intro{
    display: block;
    background-color: #8EE4AF;
}

.media {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.media:hover {
    opacity: 0.7;
}
